.craft {
    width: 320px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    line-height: 1em;
}
body {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: left;
    background-image: url('logo.png');
}