<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <title> 새로운 인연. 그린내 - 메인 </title>
</head>
<body>
<header>
    <section id="header_bar">
        <a id="logo" href="index.jsp"><img src="../static/img/logo2.png" alt="로고" width="120px" height="60px"></a>
        <nav id="header_menu">
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">마이 프로필</a></li>
                <li><a href="#">관리자에게 문의</a></li>
            </ul>
        </nav> <!-- 주요 탑메뉴 기능들 -->
    </section> <!-- section top -->
    <div class="clear"></div>
    <nav id="main_menu">
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">내가 누른 추천목록</a></li>
            <li><a href="#">DM</a></li>
            <li><a href="#">검색</a></li>
            <li><a href="#">게시물 탐색</a></li>
        </ul>
    </nav> <!-- 메인 메뉴 모음 -->
    <div class="clear"></div>
</header> <!--header -->

<div class="clear"></div>

<section id="main">
    <section id="page_control">
        <div id="page_cont">
            <span>????개의 회원 정보중 1~10건 표시 </span>
        </div>
        <div id="page_button">
            <span><button class="btn_page" onclick="location='#'"><</button></span>
            <span><button class="btn_page" onclick="location='#'">1</button></span>
            <span><button class="btn_page" onclick="location='#'">2</button></span>
            <span><button class="btn_page" onclick="location='#'">3</button></span>
            <span><button class="btn_page" onclick="location='#'">4</button></span>
            <span><button class="btn_page" onclick="location='#'">></button></span>
        </div>
    </section>

    <div class="clear"></div>

    <section id="main_content">
        <div class="user_form">
            <div class="user_img">`
                <a id="user" href="#"><img src="../static/img/User.jpg" width="170px" height="120px"></a>
            </div>

            <div class="user_info">
                <div class="user_name">한신엽</div>
                <div class="user_age">23살</div>
                <div class="user_job"> 무직 </div>
                <div class="user_height">174cm</div>
                <div class="user_weight">73kg</div>
            </div>
            <div class="user_disc">
                한줄소개가 들어갈곳입니다.
            </div>
            <div class="user_button">
                <button class="user_like" href="#" value="추천">추천</button>
                <button class="user_dm" href="#" value="DM">DM</button>
            </div>
        </div>

        <div class="user_form">
            <div class="user_img">
                <a id="user" href="#"><img src="../static/img/User.jpg" width="170px" height="120px"></a>
            </div>

            <div class="user_info">
                <div class="user_name">이현민</div>
                <div class="user_age">23살</div>
                <div class="user_job"> 무직 </div>
                <div class="user_height">???cm</div>
                <div class="user_weight">??kg</div>
            </div>
            <div class="user_disc">
                한줄소개가 들어갈곳입니다.
            </div>
            <div class="user_button">
                <button class="user_like" href="#" value="추천">추천</button>
                <button class="user_dm" href="#" value="DM">DM</button>
            </div>
        </div>

        <div class="user_form">
            <div class="user_img">
                <a id="user" href="#"><img src="../static/img/User.jpg" width="170px" height="120px"></a>
            </div>

            <div class="user_info">
                <div class="user_name">???</div>
                <div class="user_age">??살</div>
                <div class="user_job"> ?? </div>
                <div class="user_height">???cm</div>
                <div class="user_weight">??kg</div>
            </div>
            <div class="user_disc">
                한줄소개가 들어갈곳입니다.
            </div>
            <div class="user_button">
                <button class="user_like" href="#" value="추천">추천</button>
                <button class="user_dm" href="#" value="DM">DM</button>
            </div>
        </div>

        <div class="user_form">
            <div class="user_img">
                <a id="user" href="#"><img src="../static/img/User.jpg" width="170px" height="120px"></a>
            </div>

            <div class="user_info">
                <div class="user_name">이성호</div>
                <div class="user_age">23살</div>
                <div class="user_job"> 무직 </div>
                <div class="user_height">176cm</div>
                <div class="user_weight">78kg</div>
            </div>
            <div class="user_disc">
                한줄소개가 들어갈곳입니다.
            </div>
            <div class="user_button">
                <button class="user_like" href="#" value="추천">추천</button>
                <button class="user_dm" href="#" value="DM">DM</button>
            </div>
        </div>


    </section>
    <div class="clear"></div>
</section> <!-- section main -->




<footer>
    <section id="footer_menu_box">
        <nav id="footer_menu">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">적립금</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
        </nav>
    </section> <!-- section footer_menu_box -->

    <section id="footer_address">
        <p>Copyright ⓒ 2006 뿌꾸뿌꾸 All rights reserved.</br>
            전화 : 070-8902-1766 근무시간: 오전 10:00 ~ 오후 05:00</br>
            Contact freely0208@nate.com for more information</br>
            법인명(상호):이파트너 주소:10904 경기도 파주시 경의로 975 (야당동) 파크프라자 이파트너 </br>
            사업자 등록번호 안내 [130-42-29900] / 통신판매업 신고 제 2015-경기파주-7086호 [사업자정보확인]</br>
            개인정보관리책임자 :배유리 소분 제2010-0368061호(freely0208@nate.com) / 대표자(성명):하서진</p>
    </section> <!-- section footer_address -->
</footer>
</body>
</html>